@charset "UTF-8";
/*Sección index*/
/*#bodyIndex {
	font-family: 'Quicksand', sans-serif;
}*/
#hero {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;
  background-image: url("../media/hero.png");
  background-size: cover;
  padding-top: 90px;
  min-height: 700px;
  color: #FFFFFF; }

#animationIndex {
  max-height: 150px; }

.animate__backInLeft {
  animation-duration: 2s; }

#animationText {
  color: #FFFFFF !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  line-height: 4rem;
  font-weight: 500; }

@media (min-width: 425px) {
  #animationText {
    font-size: 1.5rem;
    line-height: 3rem; } }

@media (min-width: 768px) {
  #animationText {
    font-size: 1.8rem; } }

@media (min-width: 992px) {
  #animationText {
    font-size: 2rem; } }

.fadeText {
  animation-duration: 5s;
  animation-name: fadetext; }

@keyframes fadetext {
  0% {
    opacity: 0; }
  50% {
    opacity: 0; }
  100% {
    opacity: 1; } }

#portfolio {
  background-color: #FFFFFF;
  padding-top: 20px !important;
  padding-bottom: 70px !important; }

h2 {
  color: #000000 !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem !important;
  line-height: 6rem !important;
  font-weight: 500; }

@media (min-width: 425px) {
  h2 {
    font-size: 1.8rem !important;
    line-height: 3rem !important;
    font-weight: 500; } }

p {
  color: #000000 !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem !important;
  font-weight: 300; }

@media (min-width: 425px) {
  p {
    font-size: 1rem !important;
    font-weight: 300; } }

a:hover {
  text-decoration: none !important; }

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
  border-radius: 2px; }

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000; }

.portfolio-details a h3 {
  color: #FFFFFF !important;
  font-size: 2rem !important;
  line-height: 2rem !important;
  text-decoration: none !important; }

.portfolio-details h3 {
  margin-bottom: 0px; }

.botonServicios {
  margin-top: 30px; }

.botonContacto {
  margin-bottom: 50px; }

#brands {
  padding-top: 20px;
  padding-bottom: 80px;
  background-color: #9b9b9b; }

.col-md-3 {
  display: inline-block;
  margin-left: -4px; }

#contactoIndex {
  padding-top: 40px !important; }

#footerSection {
  background-color: #000000;
  padding-top: 50px;
  padding-bottom: 10px; }

.footerText {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  font-weight: 300 !important;
  color: #FFFFFF !important;
  text-align: center;
  margin-top: 30px; }

@media (min-width: 425px) {
  .footerText {
    font-size: 1rem !important; } }

ul.list-inline {
  text-align: center; }

.fa-instagram {
  margin: 30px 30px 10px 30px; }

.fa-envelope {
  margin: 30px 30px 10px 30px; }

.fa-whatsapp {
  margin: 30px 30px 10px 30px; }

/*Sección about*/
#aboutSection {
  width: 100%;
  height: 600px;
  padding: 100px;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center; }

#articleText {
  width: 500px;
  text-align: left;
  margin-left: 100px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
  color: #FFFFFF; }

#articleVideo {
  margin-right: 100px; }

/*Sección Portfolio*/
#portfolio {
  background-color: #FFFFFF;
  padding: 80px 0px; }

#portfolioTitle {
  color: #000000 !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 2.5rem !important;
  line-height: 6rem !important;
  font-weight: 500;
  padding-top: 80px !important;
  margin-bottom: 40px; }

p {
  color: #000000 !important;
  font-family: 'Quicksand', sans-serif;
  font-size: 1.5rem !important;
  font-weight: 300; }

a:hover {
  text-decoration: none !important; }

.portfolio-container {
  position: relative;
  overflow: hidden;
  margin: 10px 0px;
  border-radius: 2px; }

.portfolio-container img {
  -moz-transition: all 0.8s;
  -webkit-transition: all 0.8s;
  transition: all 0.8s; }

.portfolio-container:hover img {
  -moz-transform: scale(1.2);
  -webkit-transform: scale(1.2);
  transform: scale(1.2); }

.portfolio-details {
  position: absolute;
  bottom: 25px;
  left: 25px;
  z-index: 9000; }

.portfolio-details a h2, .portfolio-details a p {
  color: #fff !important;
  line-height: 3rem !important; }

.portfolio-details h2 {
  margin-bottom: 0px; }

/*Sección Contacto*/
#contacto {
  padding: 200px 0px !important; }

.form-control {
  border: 1px solid #9b9b9b;
  padding: 15px;
  border-radius: 2px;
  height: auto; }

.form-control:focus {
  border: 1px solid #333333; }

.containerSetting {
  margin-top: 100px; }

#quiensoyText {
  margin: 40px 0px !important; }

#perfil {
  margin-bottom: 60px; }

#img-perfil {
  border-radius: 2px; }

/*Sección Servicios*/
#serviciosDescripcion {
  font-size: 1.3rem !important;
  line-height: 1.3rem !important; }

#serviciosSetting {
  background-color: #FFFFFF;
  padding-top: 20px; }

#contactoServicios {
  padding-top: 20px; }

/*Estilos generales*/
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box; }

.body {
  font-family: 'Quicksand', sans-serif; }

.navbar {
  background-image: linear-gradient(to bottom, black 50%, transparent) !important;
  min-height: 100px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 5rem;
  position: fixed;
  z-index: 2; }

.nav-link {
  color: #FFFFFF;
  text-decoration: none; }

.nav-link:hover {
  background-color: #333333;
  color: #FFFFFF !important;
  text-decoration: none !important; }

.nav-link {
  transition: background-color .5s; }

#logo-header {
  text-decoration: none; }

.navbar-toggler {
  color: #FFFFFF; }

.navbar-toggler:focus {
  outline: none; }
