/*Sección about*/

#aboutSection {
	width: 100%;
	height: 600px;
	padding: 100px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-items: center;
}

#articleText {
	width: 500px;
	text-align: left;
	margin-left: 100px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 300;
	color: #FFFFFF;
}

#articleVideo {
	margin-right: 100px;
}
