/*Sección Contacto*/

.form__section {
	width: 100%;
	height: 600px;
	padding: 50px;
	display: flex;
	flex-flow: row wrap;
	justify-content: space-evenly;
	align-items: top;
	margin-top: 5%;
}

.form__logo {
	width: 300px;
	height: 300px;
}

.form__mail {
	background-image: url(../media/mail.png);
	list-style: none;
	line-height: 3rem;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: left;
	text-indent: 50px;
}

.form__phone {
	background-image: url(../media/phone.png);
	list-style: none;
	line-height: 3rem;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: left;
	text-indent: 50px;
}

.form__instagram {
	background-image: url(../media/ig.png);
	list-style: none;
	line-height: 3rem;
	background-repeat: no-repeat;
	background-size: 40px;
	background-position: left;
	text-indent: 50px;
}

.form__link {
	text-decoration: none;
	color: #FFFFFF;
}

.form__title {
	text-align: left;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 2rem;
	line-height: 5rem;
	color: #FFFFFF;
}

.form__input {
	width: 300px;
	padding: 3px 0px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: 5px 0px;
	display: block;
}

.form__textarea {
	width: 300px;
	height: 100px;
	padding: 3px 0px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	margin: 5px 0px;
	display: block;
}

.form__buttons {
	width: 140px;
	height: 30px;
	border: 1px solid #FFFFFF;
	border-radius: 2px;
	font-family: 'Quicksand', sans-serif;
	font-weight: 600;
	font-size: 0.8rem;
	color: #000000;
	margin: 0px 4px;
	display: inline-block;
}