/*Sección Contacto*/
#contacto {
	padding: 200px 0px !important;
}

.form-control {
	border: 1px solid #9b9b9b;
	padding: 15px;
	border-radius: 2px;
	height: auto;
}

.form-control:focus {
	border: 1px solid #333333;
}