/*Sección Portfolio*/

.portfolioGrid {
	display: grid;
	max-height: 1400px;
	grid-template-rows: repeat(5, 1fr);
	grid-template-columns: repeat(3, 1fr);
	grid-row-gap: 10px;
	grid-column-gap: 10px;
	align-content: stretch;
	margin-top: 10%;
	grid-template-areas: 
	"1 2 3"
	"4 5 6"
	"7 8 9"
	"10 11 12"
	"13 14 15"
}

.border {
	border: 0px;
}

#imgGrid {
  	object-fit: cover;
  	width: 100%;
  	height: 100%;
  	border-radius: 10px;
}

.zoom {
  transition: transform .5s;
}

.zoom:hover {
  transform: scale(1.5);
}

#item1 {
	grid-row: 1 / 3;
}

#item2 {
	grid-template-areas: 2;
}

#item3 {
	grid-template-areas: 3;
}

#item4 {
	grid-template-areas: 4;
}

#item5 {
	grid-template-areas: 5;
}

#item6 {
	grid-template-areas: 7;
}

#item7 {
	grid-template-areas: 8;
}

#item8 {
	grid-template-areas: 9;
}

#item9 {
	grid-template-areas: 10;
}

#item10 {
	grid-template-areas: 11;
}

#item11 {
	grid-template-areas: 12;
}

#item12 {
	grid-template-areas: 13;
}

#item13 {
	grid-template-areas: 14;
}

#item14 {
	grid-template-areas: 15;
}
