/*Sección Servicios*/
#serviciosDescripcion {
	font-size: 1.3rem !important;
	line-height: 1.3rem !important;
}

#serviciosSetting {
	background-color: #FFFFFF;
	padding-top: 20px;
}

#contactoServicios {
	padding-top: 20px;
}